@import "./node_modules/bootstrap-4-grid/scss/grid.scss";


// Reset start

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input {
    -webkit-appearance: none;
}
//Reset finish

// navigation bar start 
html{
    font-size: 16px;
}
.pop-up{
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -175px;
    margin-top: -195px;
    z-index: 22;
    text-align: center;
    display: none;
   
}
.pop-up__overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    display: none;
    z-index: 21;
}
.pop-up__box{
    display: flex;
    flex-direction: column;
    height: 25rem;
    width: 25rem;
    background: url(/assets/img/pattern.png);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
// input over
.input-overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffc600;
    display: none;
    justify-content: center;
    align-items: center;
}
.input-overlay__text{
    font-size: 1.5rem;
}
.pop-up__text{
    margin-bottom: 0.5rem;
    background: #fcc600;
    width: 100%;
    padding: 1.5rem;
    font-size: 1.4rem;
    font-variant: small-caps;
}
.pop-up__close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
    z-index: 10;
}
.pop-up__close-img{
    max-width: 1.5rem;
}
.pop-up__input{
    margin: 0.5rem;
    width: 15rem;
    padding: 0.5rem;
}
a{
    text-decoration: none;
}
.header__burger{
    display: none;
}

.overlay__main{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 23;
    display: none;
    background: white;
    
}
.page{
    background: url("/assets/img/pattern.png");
    background-size: cover;
    
}
.page-header{
    padding: 2rem;
    z-index: 50;
    
}
.row-header{
    align-items: center;
}
.header-box__logo{
    justify-content: center;
    display: flex;
    max-width: 3rem;
}
.header-box_nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.header-box_contact{
    display: flex;
    justify-content: center;
    text-align: right;
}
.contact_img{
    max-width: 2rem;
}
.contact_item{
    width: 100%;
    
}
.contact_center{
    text-align: center;
}
.link_img{
    max-width: 1.5rem;
}
.contact_wrap{
    padding-top: 0.5rem;
}
.phone_link{
    text-decoration: none;
    font-size: 1.2vw;
    color: black;
}
.page-about__title{
    font-size: 4rem;
    color: white;
    font-weight: 700;
    font-variant: small-caps;


}
.page-about__wrap{
    padding-top: 3rem;
}
.page-about__btn{
    background-color: #ffc600;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    font-variant: small-caps;
    width: 220px;
    height: 60px;
    
}
.page-about__row{
    position: relative;
}
.overlay_wrap{
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    top: 0;
    left: 0;
    opacity: 0.5;
}
.nav__item{
    border-bottom: 2px solid transparent;
    transition: 0.5s;
    cursor: pointer;
    font-variant: small-caps;
    font-size: 1.5vw;
    padding-bottom: 0.2rem;
    padding: 1rem;
    font-weight: 300;
    opacity: 0.7;

}
.nav__item_a{
    text-decoration: none;
    color: black;
}
.nav__item:hover{
    border-bottom: 2px solid green;
    transition: 0.5s;
}
.logo__img{
    max-height:10rem;
}
// navigation bar finish 

// main about start 

.page-about{
    background-image: url("/assets/img/main-bg.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.page-about__row{
    height: 100%;
    text-align: center;
    overflow: hidden;
}
.page-about__col{
    align-items: flex-end;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.page-about_list{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 0.5rem;
    flex-direction: column;;
}
.list__item{
    list-style-type: square;
    font-size: 5vw;
    color: #505050;
    font-weight: 300;
    font-variant: small-caps;
    opacity:1;
    z-index: 2;
    list-style-type: none;
    padding: 0 2rem;
    position: relative;
    cursor: pointer;
}
.list__item:hover ~span{
   color: #fcc600;
}

.about-list__p{
    font-size: 9vw;
    color: lightgrey;
    z-index: 1;
    opacity: 0.7;
    text-align: center;
    width: 100%;
    font-weight: bold;
    
}
.bg-green{
    background: lightcyan;
}
.bg-blue{
    background: lightblue;
}
.bg-purple{
    background: lightseagreen;
}
.bg-yellow{
    background: #fcc600;
    font-size: 1.2rem;
    transform: translateX(500px);
    transition: 1s;
    padding: 1rem 0.5rem;
}
.active1{
   color: crimson;
}
.active2{
    color: DarkSeaGreen ;
}
.active3{
    color: GoldenRod ;
}
// main about finish

// advantage start

.block_advantage__wrap{
    text-align: center;
    padding-top: 12rem;
    padding-bottom: 4rem;
    margin: 0 auto;

}
.block_advantage__work{
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 4rem;
    margin: 0 auto;

}
.block_advantage_padding{
    padding-bottom: 3rem;
    display: flex;
   
   
    margin: 0 auto;
}
.block_advantage{
    display: flex;
    text-align: left;
    padding-bottom: 8rem;
    margin: 0 auto;
    
}
.advantage_titlebox{
    display: flex;
}
.box__wrapp{
    padding-bottom: 1rem;
}
.block_advantage__title{
   font-size: 1.8rem;
   border-bottom: 3px solid #fcc600;
   padding-bottom: 1rem;
   font-weight: bold;
   font-variant: small-caps;
   
}
.block_advantage__text{
    font-size: 1.2rem;
    padding-top: 1rem;
    font-variant: small-caps;
    
}
.white__title{
    color: white;
}
.block_advantage__item{
    font-size: 5rem;
    padding-right: 1rem;
    font-weight: bold;

}
.advantage-item_one{
   color: lightblue;
}
.advantage-item_two{
    color:#75c0d8;
}
.advantage-item_three{
    color: #2eb0da;
}
.advantage-item_four{
    color: tomato;
}
.advantage-item_five{
    color: #f98975;
}
.advantage-item_six{
    color:#f3a698;
}

.lightpurple{
    color:#7c84b3;
}
.hidden{
    opacity:0;
}
.visible{
    opacity:1;
}

.block_advantage_subtitle{
    font-size: 1.3rem;
    font-variant: small-caps;
}
.block_advantage_text{
    font-size: 1rem;
}
.advantage_inputbox{
    margin: 0 auto;
}
.advantage__input{
    background-color: #ffc600;
    border-color: white;
    outline: none;
    border-radius: 10px;
    font-size: 1.5rem;
    width: 220px;
    height: 60px;
    
    
}

.block_advantage__title2{
    padding-top: 0.5rem;
    font-size: 1.5rem;
    color: white;
}

// page 2

.page-purple{
    background-color: #5561ba;
    -webkit-clip-path: polygon(0 30%, 100% 0, 100% 70%, 0% 100%);
    clip-path: polygon(0 30%, 100% 0, 100% 70%, 0% 100%);
    padding-top: 12rem;
    padding-bottom: 12rem;
    position: relative;
}
.page-purple-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: #7480d6;
    -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 30% 100%);
    clip-path: polygon(0 0, 70% 0, 100% 100%, 30% 100%);
}

.animation_row{
    padding-top: 2rem;
    padding-bottom: 4rem;
    justify-content: space-between;
}
.animation__item{
 text-align: center;
 margin: 0 auto;
}
.animation__box{
    background-color: white;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    margin: 1rem auto;
    
    
}
.animation_wrap{
    padding-top: 1rem;
}
.animation__text{
    color: white;
    font-size: 1rem;
    font-variant: small-caps;
}
.gallery__img{
    max-width: 100%;
}
.gallery__item{
    padding-left: 0;
    padding-right: 0;
}
.border__title{
    border: none;
}

// pre-footer
.green-page{
    background-color: #5561ba;
    padding: 3.3rem 0;
    text-align: center;
}
.pre_link{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 700;
    padding-bottom: 3px;
    transition: 0.5s;
    cursor: pointer;
    border-bottom: 3px solid transparent 
}

.pre_link:hover {
    border-bottom: 3px solid #ffc600;
    transition: 0.5s;
    
}
.green__row{
    align-items: center;
}

// map

.map__item{
    padding-left: 0;
    padding-right: 0;
}

// footer
footer{
    border-top: 4px solid #fcc600;
}
.footer_wrap{
    padding: 3rem 0;
    overflow: hidden;
   
}
.footer_row{
    align-items: center;
    justify-content: center;

}
.footer_contact{
    text-align: center;
    
}
.contact_link{
    text-decoration: none;
}
.input_box{
    margin-top: 1rem;
}
.pre_footer{
    padding-bottom: 1rem;
}


// price page
.price_title{
    text-align: center;
}

.title_wrap{
    padding-top: 3rem;
    padding-bottom: 5rem;
}
.price-page_wrap{
    padding-top: 3rem;
    padding-bottom: 5rem;
}
.price_row{
    justify-content: space-around;
}
.price-page__item{
    cursor: pointer;
    margin-bottom: 2rem;
    background: #84697c;
    padding-left: 0;
    padding-right: 0;
    

}
.price-page__box{
    background: #84697c;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
.box__one{
    background: #fcc600;
}
.box__two{
    background: tomato;
}
.box__three{
    background: lightgreen;
}
.box__four{
    background: lightskyblue;
}
.price-page__item:hover  .price__number{
    transform: scale(1.5);
    transition: 0.5s;
}
.price_text_title{
    font-size: 3rem;
    font-variant: small-caps;
    

    
}
.price__text{
    font-size: 2.2rem;
    text-align: center;
    padding: 0.5rem 0;
    transition: 0.5s;
    font-weight: bold;
    color: white;
    background: #84697c;
    width: 100%;
    
    
}
.price__number{
    font-size: 2.1rem;
    text-align: center;
    padding: 1rem 0;
    color:#84697c;
    font-weight: bold;
    transition: 0.5s;
}
.price__list{
    // padding-top: 0.5rem;
    // padding-bottom: 0.5rem;
    padding: 1rem;
}
.price__li{
    font-size: 0.9rem;
    font-variant: small-caps;
    padding-bottom: 0.2rem; 
    color: white;
    
}


// image
.page-image__item{
    margin-bottom: 2rem;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    margin-right: 1rem;
   
}
.image-item__img{
    max-width: 100%;
    transition: 10s;
}
.page-image_wrap{
    background: black;
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;

}
.image_row{
    justify-content: center;
}
.page-image_wrap:hover ~img{
    transform: scale(1.5);
    transition: 15s;
}
.wrap__text{
    font-variant: small-caps;
    font-size: 1.5rem;
    z-index: 11;
    position: relative;
    color: #fcc600;
    
}
.page-image{
    padding: 2rem 0;
}



// image part 1- 9
.page-prev__image{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.prev-item__img{
    max-width: 100%;
}
.prev-image__title{
    text-align: right;
    padding: 2rem;
}
.prev-image__select{
    width: 200px;
    font-size: 1.5rem;
}
@media (max-width: 575.98px) { 
    html{
        font-size: 8px;
    }
    .pop-up{
        left: 50%;
        top: 50%;
        margin-left: -135px;
        margin-top: -115px;
    }
    .pop-up__box{
        width: 35rem;
        height: 35rem;
    }
    .logo__img{
        margin-bottom: 2rem;
        max-height:8rem;
    }
    // btn
    .advantage__input{
       width: 150px;
       height: 30px;
    }
    .page-about__btn{
        width: 150px;
       height: 30px;
    }
    .header-box_nav{
        flex-direction: column;
        align-items: center;
    }
    .header-box_contact{
        text-align: center;
        padding: 2rem 0;
    }
    .nav__item{
        font-size: 3rem;
        padding-bottom: 0.9rem;
        font-weight: 400;
    }
    .phone_link{
        font-size: 3rem;
        padding-top: 1rem;
        font-weight: 300;
        
    }
    .link_img{
        max-width: 3rem;
        margin-top: 1rem;
        margin-left: 0.5rem;
    }
    .page-header{
        display: none;
        position: fixed;
        top: 60px;
    }
    .header__burger{
        position: fixed;
        display: block;
        right: 0;
        top: 0;
        z-index: 100;
        padding: 1.5rem;
        cursor: pointer;
    }
    .burder__img{
        max-width: 5rem;
        border: none;
       
    }
    .contact_wrap{
        padding-top: 2rem;
    }
    .page-about__col{
        flex-direction: column;
        justify-content: flex-end;
    }
    .page-about_list{
        width: 100%;
    }
    .price-page__box{
        height: 100px;
    }
 }


//  georgetravin

.georgetravin{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    font-variant: small-caps;
    padding-top: 3rem;

}